node_modules/

.env
.cursorrules
.expo/
.idea

# Custom quick-crypto build artifacts
custom-quick-crypto/react-native-quick-crypto/lib/
custom-quick-crypto/react-native-quick-crypto/android/build/
custom-quick-crypto/react-native-quick-crypto/*.js
custom-quick-crypto/react-native-quick-crypto/*.js.map

*.apk

android/app/build/
android/.kotlin/

add.sh