node_modules/

.env_private
.cursorrules
.expo/
.idea

# Custom quick-crypto build artifacts


*.apk

android
ios

add.sh

local-release-key.keystore

*.backup

collect-expo-deps.sh
restore-expo-deps.sh
fdroid-deps/